.bp-1{

  padding-bottom: 0;
}


.advant {
display: block;
@media screen and (min-width: 768px) {

display: flex;
justify-content: space-between;
list-style: none;
}




.box-item {
display: flex;
background-color: #f4f5fa;
border-radius: 4px;
margin-bottom: 30px;
align-items: center;
justify-content: center;
padding: 28px 0;
background: #f5f4fa;
margin-bottom: 30px;
}

.advantages {
  padding: 94px 0;
}


.advantages-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  list-style: none;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
    
  

}
.advantages-list-1 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  }


}