.effective {

  
    margin: 0 auto;
    padding: 118x 0;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../Images/headermob-min.jpg);
    @media screen and (min-width: 768px) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../Images/headertab-min.jpg);
    }
    @media screen and (min-width: 1200px) {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../Images/headerdes-min.jpg);
        padding: 200px 0;
    }
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600 px;
    margin: 0 auto;


&-solution-title {

  text-transform: uppercase;
  @include font(26px, $color-white, 1.6, 900);

  @media screen and (min-width: 1200px) {
    @include font(44px, $color-white, 1.17, 900);
  }
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 30px;


}


&-button {
    padding: 10px 32px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin: 0 auto;
    display: block;
    border: none;
}
&-effective-solution-title-button:hover,
&-effective-solution-title-button:focus {
background-color: #188ce8;
}
}