body {
    color:  $main-color;
    background-color: var(--background-color);
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: auto 0;
    
     }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #212121;


        }
.a {
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}


.button {
    cursor: pointer;
    transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.svg {
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.4, 1);
}

            



.d-flex {
    display: flex;
} 
.main-nav
   {
    display: flex;
}
.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  .site-nav {
    margin-right: 50px;
    text-transform: capitalize;
  }
}


.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    & .site-nav {
      margin-left: 50px;
      color: $sec-color;
    }
  }
}
.contacts li:first-child a {
  padding: 21px 0 10px 0;
}

.contacts li:last-child a {
  padding: 0 0 21px 0;
}

.contacts li a.link {
  padding: 31px 0;
}
.rezerv {

    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
            
    }
